<li class="dropdown megamenu">
    <a href="#"><span>Admin</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
    <ul>
        <li>
            <a class="dropdown-item nav-link" asp-area="Admin" asp-controller="Users" asp-action="Index">Accounts</a>
            <a class="dropdown-item nav-link" asp-area="Admin" asp-controller="BankAccounts" asp-action="Index">Bank Accounts</a>
            <a class="dropdown-item nav-link" asp-area="Admin" asp-controller="CompanyTypes" asp-action="Index">Company Types</a>
            <a class="dropdown-item nav-link" asp-area="Admin" asp-controller="Contractors" asp-action="Index">Contractors</a>
            <a class="dropdown-item nav-link" asp-area="Admin" asp-controller="DeadlineTypes" asp-action="Index">Deadline Types</a>
        </li>
        <li>
            <a class="dropdown-item nav-link" asp-area="Admin" asp-controller="Disciplines" asp-action="Index">Disciplines</a>
            <a class="dropdown-item nav-link" asp-area="Admin" asp-controller="Documents" asp-action="Index">Documents</a>
            <a class="dropdown-item nav-link" asp-area="Admin" asp-controller="Expertises" asp-action="Index">Expertises</a>
            <a class="dropdown-item nav-link" asp-area="Admin" asp-controller="Focuses" asp-action="Index">Focuses</a>
            <a class="dropdown-item nav-link" asp-area="Admin" asp-controller="Licenses" asp-action="Index">Licenses</a>
        </li>
        <li>
            <a class="dropdown-item nav-link" asp-area="Admin" asp-controller="Professions" asp-action="Index">Professions</a>
            <a class="dropdown-item nav-link" asp-area="Admin" asp-controller="ProfessionDisciplines" asp-action="Index">Profession Disciplines</a>
            <a class="dropdown-item nav-link" asp-area="Admin" asp-controller="ProjectDeliverables" asp-action="Index">Project Deliverables</a>
            <a class="dropdown-item nav-link" asp-area="Admin" asp-controller="Roles" asp-action="Index">Roles</a>
            <a class="dropdown-item nav-link" asp-area="Admin" asp-controller="Software" asp-action="Index">Software</a>
        </li>
        <li>
            <a class="dropdown-item nav-link" asp-area="Admin" asp-controller="SolicitationRoles" asp-action="Index">Solicitation Roles</a>
            <a class="dropdown-item nav-link" asp-area="Admin" asp-controller="Solicitations" asp-action="Index">Solicitations</a>
            <a class="dropdown-item nav-link" asp-area="Admin" asp-controller="Specialties" asp-action="Index">Specialties</a>
            <a class="dropdown-item nav-link" asp-area="Admin" asp-controller="States" asp-action="Index">States</a>
        </li>
    </ul>
</li>